# Dependencies
node_modules/

# iOS
ios/App/Pods/
ios/App/App/public/
ios/App/build/
*.xcuserstate
*.xcuserdatad

# macOS
.DS_Store

# IDE
.idea/
.vscode/

# Logs
*.log
npm-debug.log*

# Local env files
.env
.env.local
